# VARIABLS AND STRINGS

## TABLE OF CONTENT

|S/N| CONTENT                                  |
|---|----------------------------------------- |
|1| [VARIABLES](#variables)                    |
|2| [OPERATORS](#opeartors)                    |
|3| [COMPARATORS](#comparators)                |
|4| [BUILT-IN WORDS IN PYTHON](#built-in)      |
|5| [DATA TYEPES](#data-types)                 |
|6| [REFERENCE](#reference)                    |

### VARIABLES <a class="anchor" id="variables"></a>

#### What are variables?

- This is how you store your your names codes or anything for recall in python

In [ ]:
a = 5

In [ ]:
w = 34
q = 45
u = 56

In [ ]:
first_result = 1 + 1
final_result = first_result * 3.5

In [ ]:
my_name = 'chisom'
my_age = 17
my_number = 17
my_dog = True

print('My name is: ', my_name)
print('My_age: ', my_age)
print('My_number: ', my_number)
print('I own a dog: ', my_dog)

#### What are Comments?

- Comments are simple explanations of variables of other python objects

In [ ]:
first_result = 1 + 1 # this an addition
final_result = first_result * 3.5  # this is a multiplication

### OPERATORS <a class="anchor" id="operators"></a>

#### What are operators?

- Operators in Python are symbols or special characters that perform operations on operands (values or variables). 
Python provides various types of operators, including arithmetic operators, assignment operators, comparison operators, 
logical operators, identity operators, membership operators, and bitwise operators.

- Arithmetic Operators:

    - Addition: +
    - Subtraction: -
    - Multiplication: *
    - Division: /
    - Floor Division: //
    - Modulo: %
    - Exponentiation: **
    - Assignment Operators:

- Assignment: =
    - Addition Assignment: +=
    - Subtraction Assignment: -=
    - Multiplication Assignment: *=
    - Division Assignment: /=
    - Modulo Assignment: %=
    - Exponentiation Assignment: **=
    - Floor Division Assignment: //=

#### Examples of Operators

In [ ]:
# Addition: Adds two numbers
result = 3 + 4
print(result)  # Output: 7

In [ ]:
# Subtraction: Subtracts one number from another
result = 9 - 5
print(result)  # Output: 4

In [ ]:
# Multiplication: Multiplies two numbers
result = 2 * 6
print(result)  # Output: 12

In [ ]:
# Division: Divides one number by another
result = 10 / 3
print(result)  # Output: 3.3333333333333335

In [ ]:
# Floor Division: Divides one number by another, rounding down to the nearest whole number
result = 10 // 3
print(result)  # Output: 3

In [ ]:
# Modulo: Returns the remainder after division
result = 10 % 3
print(result)  # Output: 1

In [ ]:
# Exponentiation: Raises a number to the power of another number
result = 2 ** 3
print(result)  # Output: 8

In [ ]:
# Assignment: Assigns a value to a variable
x = 5
print(x)  # Output: 5

In [ ]:
# Addition Assignment: Adds a value to the variable and assigns the result to itself
x += 3
print(x)  # Output: 8

In [ ]:
# Subtraction Assignment: Subtracts a value from the variable and assigns the result to itself
x -= 2
print(x)  # Output: 6

In [ ]:
# Multiplication Assignment: Multiplies the variable by a value and assigns the result to itself
x *= 4
print(x)  # Output: 24

In [ ]:
# Division Assignment: Divides the variable by a value and assigns the result to itself
x /= 3
print(x)  # Output: 8.0

In [ ]:
# Modulo Assignment: Computes the modulo of the variable with a value and assigns the result to itself
x %= 5
print(x)  # Output: 3.0

In [ ]:
# Exponentiation Assignment: Raises the variable to the power of a value and assigns the result to itself
x **= 2
print(x)  # Output: 9.0

In [ ]:
# Floor Division Assignment: Computes the floor division of the variable by a value and assigns the result to itself
x //= 2
print(x)  # Output: 4.0

### COMPARATORS <a class="anchor" id="comparators"></a>

#### What are comparators?

In [ ]:
Although they are oeprators, but specially classified under the following classification:

- Comparison Operators:

    - Equal to: ==
    - Not equal to: !=
    - Greater than: >
    - Less than: <
    - Greater than or equal to: >=
    - Less than or equal to: <=
    
Logical Operators:

    - Logical AND: and (&)
    - Logical OR: or    (|)
    - Logical NOT: not
    
Identity Operators:

    - Identity equality: is
    - Identity inequality: is not
    - Membership Operators:
    - Membership test for values in sequences: in
    - Membership test for values not in sequences: not in

Bitwise Operators:

    - Bitwise AND: &
    - Bitwise OR: |
    - Bitwise XOR: ^
    - Bitwise NOT: ~
    - Left shift: <<
    - Right shift: >>

#### Examples of Compaartors

In [ ]:
x = 5
y = 10
result = (x == y)
print(result)  # Output: False

In [ ]:
x = 5
y = 10
result = (x != y)
print(result)  # Output: True

In [ ]:
x = 5
y = 10
result = (x > y)
print(result)  # Output: False

In [ ]:
x = 5
y = 10
result = (x > y)
print(result)  # Output: False

In [ ]:
x = 5
y = 10
result = (x >= y)
print(result)  # Output: False

In [ ]:
x = 5
y = 10
result = (x <= y)
print(result)  # Output: True

In [5]:
x = 5
y = 10
z = 7
result = (x < y) & (y < z)
print(result)  # Output: False

False

In [6]:
x = 5
y = 10
z = 7
result = (x < y) | (y < z)
print(result)  # Output: True

True

In [ ]:
x = True
result = not x
print(result)  # Output: False

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
result = (x is y)
print(result)  # Output: False

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
result = (x is not y)
print(result)  # Output: True

In [ ]:
x = 3
list_values = [1, 2, 3, 4, 5]
result = (x in list_values)
print(result)  # Output: True

In [ ]:
x = 10   # 1010 in binary
y = 6    # 0110 in binary
result = x & y
print(result)  # Output: 2

In [ ]:
x = 10   # 1010 in binary
y = 6    # 0110 in binary
result = x | y
print(result)  # Output: 14

In [ ]:
x = 10   # 1010 in binary
y = 6    # 0110 in binary
result = x ^ y
print(result)  # Output: 12

In [ ]:
x = 10   # 1010 in binary
result = ~x
print(result)  # Output: -11

In [7]:
x = 5    # 0101 in binary
result = x << 2
print(result)  # Output: 20

20

In [8]:
x = 5    # 0101 in binary
result = x >> 2
print(result)  # Output: 1

1

### BUILT-IN WORDS IN PYTHON <a class="anchor" id="built-in"></a>

#### What is built-in words in python?

They are python reserved words, they should not be used in naming your variables or any other data object when coding in python.
They namely, but not all; 

- False      
- class       
- finally     
- is          
- return
- None        
- continue   
- for         
- lambda      
- try
- True        
- def         
- from        
- nonlocal    
- while
- and        
- del        
- global      
- not         
- with
- as         
- elif       
- if         
- or          
- yield
- assert      
- else        
- import      
- pass
- break      
- except      
- in          
- raise

#### Use cases

In [ ]:
flag = True
if flag:
    print("The flag is true")

In [ ]:
result = None
if result is None:
    print("No result found")

In [ ]:
x = 5
y = 10
if x > 0 and y > 0:
    print("Both x and y are greater than 0")

In [ ]:
num = 7
if num < 0:
    print("Negative number")
elif num > 0:
    print("Positive number")
else:
    print("Zero")

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
name = "John"
print("Hello, " + name)

In [2]:
x = "10"
y = int(x)
print(y + 5)  # Output: 15

15

In [ ]:
x = 5
print(type(x))  # Output: <class 'int'>

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

In [ ]:
for num in range(1, 6):
    print(num)

In [ ]:
numbers = [1, 2, 3, 4, 5]
length = len(numbers)
print("Length of numbers:", length)

### DATA TYPES <a class="anchor" id="data-types"></a>

#### What are data types?

-  data types are used to categorize and represent different kinds of data. Each data type has specific characteristics and operations associated with it. 
Here are some commonly used data types in Python along with examples:

#### Examples of data type in python

In [9]:
# Integer Example
x = 5
print(type(x))  # Output: <class 'int'>

<class 'int'>

In [ ]:
# Float Example
x = 3.14
print(type(x))  # Output: <class 'float'>

In [ ]:
# String Example
x = "Hello, World!"
print(type(x))  # Output: <class 'str'>

In [ ]:
# Boolean Example
x = True
print(type(x))  # Output: <class 'bool'>

In [ ]:
# List Example
x = [1, 2, 3, 4, 5]
print(type(x))  # Output: <class 'list'>

In [ ]:
# Tuple Example
x = (1, 2, 3, 4, 5)
print(type(x))  # Output: <class 'tuple'>

In [ ]:
# Dictionary Example
x = {"name": "John", "age": 25, "city": "New York"}
print(type(x))  # Output: <class 'dict'>

In [ ]:
# Set Example
x = {1, 2, 3, 4, 5}
print(type(x))  # Output: <class 'set'>

In [ ]:
# None Example
x = None
print(type(x))  # Output: <class 'NoneType'>

#### Converting from one object type to a different object type

- You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float (e.g. 2 to 2.0).

In [ ]:
# Convert 2 to a float

float(2)

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

In [ ]:
# Convert a string into an integer

int('1')

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

In [ ]:
# Convert an integer to a string

str(1)

In [ ]:
# Convert a float to a string

str(1.2)

#### String Manipulation

In [ ]:
'spam eggs'  # single quotes
'spam eggs'
'doesn\'t'  # use \' to escape the single quote...
"doesn't"
"doesn't"  # ...or use double quotes instead
"doesn't"
'"Yes," they said.'
'"Yes," they said.'
"\"Yes,\" they said."
'"Yes," they said.'
'"Isn\'t," they said.'
'"Isn\'t," they said.

- String literals can span multiple lines.

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

In [ ]:
'Py' 'thon'

In [ ]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

- This only works with two literals though, not with variables or expressions:

In [ ]:
prefix = 'Py'
prefix 'thon'

In [ ]:
- If you want to concatenate variables or a variable and a literal, use +:

In [ ]:
prefix + 'thon'

- Strings can be indexed (subscripted), with the first character having index 0. There is no separate character type; 
a character is simply a string of size one:

In [ ]:
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [ ]:
word = 'Python'

In [ ]:
word[5]  # character in position 5

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

### REFRENCES <a class="anchor" id="reference"></a>

|S/N| links                                                                            |
|---|--------------------------------------------------------------------------------- |
|-  |https://docs.python.org/3/tutorial/introduction.html |
|-  |https://apps.cognitiveclass.ai/learning/course |